### ДЗ
Необходимо запустить практическую часть занятия, и посмотреть самому то, о чём говорили на лекции. 

По образу практики, попробуйте создать искусственный датасет с лишними столбцами.

Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.

Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown. Здесь важно видеть ваш ход мысли. Не бойтесь ошибиться или написать не то. Данное задание не имеет какого-то “правильного” решения. Цель - достичь базового понимания проблемы. Чем больше вы фантазируете, тем лучше :) Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных. Успеха!

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [140]:
n_samples = 1000
player_age = np.random.choice(22, n_samples)+18
player_weight = np.random.choice(90, n_samples)+60
player_height = np.random.choice(60, n_samples)+160
goals_assists = np.random.choice(120, n_samples)*((100-player_age)/100)
years_in_NHL = np.random.choice(player_age, n_samples)-17

###### Создаем датасет с данными игроков НХЛ

In [143]:
data = pd.DataFrame({'age':player_age, 'height':player_height, 'weight':player_weight, 'average per season':goals_assists, 
                     'years in NHL':years_in_NHL})
data

     age  height  weight  average per season  years in NHL
0     39     180     127               66.49            13
1     36     195      92               22.40            20
2     23     195      93               57.75             5
3     24     212      75               13.68             8
4     28     169      74               73.44            13
..   ...     ...     ...                 ...           ...
995   23     181     105               50.05            20
996   24     182     126                0.00             3
997   34     200      89               74.58            16
998   37     180      81               57.96             9
999   28     218     145               34.56             8

[1000 rows x 5 columns]

In [144]:
from sklearn.metrics import mean_absolute_error

###### Целевой переменной будет "средняя статистика" в сезон

In [145]:
X = data[['age', 'height', 'weight', 'years in NHL']]
y = data['average per season']

reg = LinearRegression().fit(X,y)

print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))
pred_values = reg.predict(data[['age', 'height', 'weight', 'years in NHL']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [-0.59412305  0.0505358   0.04663813  0.09342181]
Bias: 44.469247849536345
Error: 21.10439596415625

In [146]:
y.median()

42.795

In [147]:
data['career points total']= data['average per season'] * (data['years in NHL']+(40-data['years in NHL']))
data

,age,height,weight,average per season,years in NHL,career points total
0,39,180,127,66.49,13,2659.6
1,36,195,92,22.40,20,896.0
2,23,195,93,57.75,5,2310.0
3,24,212,75,13.68,8,547.2
4,28,169,74,73.44,13,2937.6
...,...,...,...,...,...,...
995,23,181,105,50.05,20,2002.0
996,24,182,126,0.00,3,0.0
997,34,200,89,74.58,16,2983.2
998,37,180,81,57.96,9,2318.4
999,28,218,145,34.56,8,1382.4

###### Предсказываем общее количесвто очков за карьеру если играет до 40 лет

In [148]:
X = data[['career points total']]
y = data['average per season']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['career points total']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [0.025]
Bias: -4.263256414560601e-14
Error: 1.9119261729372285e-14